body {
    background-color: whitesmoke;
    color: black;
}

#myHeading {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 3px solid;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.intro {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    cursor: pointer;
    background-color:azure;
}

button:hover {
    background: transparent;
}

.btn {
    border-radius: 8px;
    border-color: black;
    width: 170px;
    height: 70px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon {
    font-size: 30px;
}

.tally {
    display: flex;
    border-radius: 8px;
    border: 1px solid black;
    justify-content: space-evenly;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: azure;
    font-size: 30px;
    margin-top: 70px;
    margin-left: 32%;
    margin-right: 30%;
    gap: 20%;
    flex-direction: column;
}

#finalTally {
    display: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    justify-content:center;
    background-color: azure;
    margin-left:32%;
    margin-right: 30%;
    font-size: 30px;
    margin-top: 40px;
}
